# Created by https://www.toptal.com/developers/gitignore/api/vcpkg,cmake,c++,matlab
# Edit at https://www.toptal.com/developers/gitignore?templates=vcpkg,cmake,c++,matlab

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

### CMake Patch ###
# External projects
*-prefix/

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Test outputs
*.xml

### vcpkg ###
# Vcpkg

vcpkg-manifest-install.log

## Manifest Mode
vcpkg_installed/

# End of https://www.toptal.com/developers/gitignore/api/vcpkg,cmake,c++,matlab