name: Build
run-name: ${{ github.actor }} - ${{ github.workflow }} - ${{ github.ref_name }}
on: 
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  linux-build:
    strategy:
      matrix:
        matlabrelease:
        - R2022b
        - R2023b
        - R2024b
        - R2025b
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Ninja
      uses: seanmiddleditch/gha-setup-ninja@master
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: 'latest'
    - name: Set up MATLAB
      uses: matlab-actions/setup-matlab@v2
      with:
        release: ${{ matrix.matlabrelease }}
    - name: Configure
      run: |
        cmake --preset linux-gcc-release-config
      working-directory: ${{ github.workspace }}
    - name: Build
      run: |
        cmake --build --preset linux-gcc-release-build --target install
      working-directory: ${{ github.workspace }}
    - name: Test
      run: |
        ctest --preset linux-gcc-release-test --output-junit ${{ github.workspace }}/test-results.xml
      working-directory: ${{ github.workspace }}
    - name: Upload library
      uses: actions/upload-artifact@v4
      with:
        name: bqpd-linux-${{ matrix.matlabrelease }}
        path: ${{ github.workspace }}/out/install/linux-gcc-release-config
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure()
      with:
        report_paths: ${{ github.workspace }}/test-results.xml